@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oxanium:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Main-Text {
  color: #ffffff;
  font-family: "Irish Grover", serif;
  font-size: 50px;
}

.company-name {
 color: #B7FF42;
}

.Main-Text span {
  color: #B7FF42;
}

.content-description {
  color: #8E8E8E;
  font-family: 'Poppins';
  font-size: 15px;
}

.main-body-background {
  background-color: #212225;
}

.main-canvas-background {
  background-color: #212225;
}

.main-body {
  background-color: #212225;
}

.top-nav {
  background-color: #212225;
}


.middle-navs {
  color: #838586;
}

* {
  box-sizing: border-box;
} */

.body {
  background-color: black;
}

.overlay-three {
  background: linear-gradient(255deg, rgba(0, 0, 0, 0.00) -0.5%, #000 99.65%)
}

.ayr-text {
  color: white;
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 94px;
}

.ayr-desc {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.ayr-button {
  color: #000;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #4F4F4F;
  background: linear-gradient(260deg, #D6D6FD -0.68%, #E4E4E4 100%);
}

.ayr-pricing {
  color: #FCFCFC;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #3A4864;
}